/**********************************************************************
 * images definition
 **********************************************************************/
.cost { background-image: url(/images/icons/cost.png) !important;}
.email { background-image: url(/images/icons/email.png) !important;}
.pen { background-image: url(/images/icons/pen.png) !important;}
.lightbulb { background-image: url(/images/icons/lightbulb.png) !important;}
.searchNew { background-image: url(/images/icons/search.png) !important;}
.accordion {background-image:url(../../images/window/accordian.gif) !important;}
.addItem { background-image:url(/images/system/add.gif) !important;}
.bogus { background-image: url( ../../images/window/bogus.png ) !important;}
.calendar { background-image: url( ../../images/icons/calendar.png ) !important;}
.careConn_icon{background-image:url(../../images/icons/chart_organisation.png) !important;}ext
.comments{background-image:url(../../images/icons/comments.png) !important;}
.contactUs {background-image:url(../../images/icons/telephone.png) !important;}
.demo { background-image:url(../../images/icons/demo.png) !important;}
.document{background-image:url(../../images/icons/page.png) !important;}
.donate{background-image:url(../../images/icons/money_dollar.png) !important;}
.download{background-image:url(../../images/icons/download.png) !important;}
.editItem { background-image:url(/images/system/edit.png) !important;}
.feedback{background-image:url(../../images/icons/feed.png) !important;}
.feya_icon {background-image:url(../../images/icons/page_white_flash.png) !important;}
.group {background-image:url(../../images/icons/group.png) !important;}
.displayconf {background-image:url(../../images/icons/wrench_orange.png) !important;}
.paintbrush {background-image:url(../../images/icons/paintbrush.png) !important;}
.project {background-image:url(../../images/icons/book_open.png) !important;}
.remove { background-image:url(/images/system/delete.gif) !important;}
.icon-save { background-image:url(/images/system/save.gif) !important;}
.record { background-image:url(/images/system/record.gif) !important;}
.recorder { background-image:url(/images/system/recorder.gif) !important;}
.script {background-image:url(../../images/icons/script.png) !important;}
.server{background-image:url(../../images/icons/server.png) !important;}
.sourceCode {background-image:url(../../images/icons/page_white_c.png) !important;}
.start { background-image: url( ../../images/taskbar/black/startbutton-icon.gif ) !important;}
.tabs {background-image:url(../../images/icons/table_multiple.png) !important;}
.technology {background-image:url(../../images/icons/wrench.png) !important;}
.tutorials {background-image:url(../../images/icons/page_edit.png) !important;}
.customers { background-image:url(/images/system/customers.gif) !important;}
.exit { background-image:url(/images/system/exit.gif) !important;}
.heart { background-image:url(/images/system/heart.gif) !important;}
.print { background-image:url(/images/system/print.gif) !important;}
.finding { background-image:url(/images/system/find.png) !important;}
.yes { background-image:url(/images/system/yes.gif) !important;}
.no { background-image:url(/images/system/no.gif) !important;}
.gold { background-image:url(/images/system/gold.gif) !important;}
.mobil { background-image:url(/images/system/mobil.gif) !important;}
.phone { background-image:url(/images/system/phone.gif) !important;}
.album { background-image:url(/images/system/album.gif) !important;}
.blue_triangle { background-image:url(/images/system/blue_triangle.gif) !important;}
.blue_point { background-image:url(/images/system/blue_point.gif) !important;}
.user { background-image:url(/images/system/user.gif) !important;}
.refresh { background-image:url(/images/system/refresh.gif) !important;}
.search { background-image:url(/images/system/search.png) !important;}
.maxItem { background-image:url(/images/system/max.png) !important;}
.viewItem { background-image:url(/images/system/form.png) !important;}
.searchItem { background-image:url(/images/system/search.png) !important;}
.chart { background-image:url(/images/system/price.png) !important;}
.undo { background-image:url(/images/system/undo.png) !important;}
.upload { background-image:url(/images/system/upload.png) !important;}
.selectItem{background-image:url(/images/system/album.gif) !important;}
.exit{background-image:url(/images/system/exit.gif) !important;}
.clear{background-image:url(/images/system/clear.png) !important;}
