<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>添加用户</title>
    <script>
      Ext.onReady(function(){
        var name = new Ext.form.TextField({
          fieldLabel: '用户名(初始密码)',
          name:'name',
          allowBlank: false,
          anchor: '90%'
        })

        var age = new Ext.form.NumberField({
          fieldLabel: '年龄',
          name:'age',
          allowBlank: false,
          anchor: '90%'
        })

        var okButton = new Ext.Button({
          text: '确定',
          handler: function(){
            if(newUserForm.form.isValid()){
              okButton.setDisabled(true);
              newUserForm.form.submit({
                method: 'post',
                waitMsg: '正在保存信息...',
                success: function(result,response){
                  if(response.result.info == 'success'){
                    newUserWin.destroy();
                  }else{
                    Ext.Msg.alert('提示',response.result.info);
                    okButton.setDisabled(false)
                  }
                },
                failure: function(result,response){
                  Ext.Msg.alert('提示',result.responseText)
                  okButton.setDisabled(false)
                }
              })
            }else{
              Ext.Msg.alert('提示','请填入必填项')
            }
          }
        })

        var cancelButton = new Ext.Button({
          text: '取消',
          handler: function(){
            newUserWin.destroy();
          }
        })
        
        var newUserForm = new Ext.form.FormPanel({
          labelAlign: 'top',
          url:'/users/create',
          buttonAlign:'center',
          bodyStyle: 'padding:5px',
          labelWidth:100,
          waitMsgTarget: true,
          frame: true,
          layout:'column',
          items:[{
            columnWidth:.5,                         //占横列的50%
            layout:'form',                         //放置fieldset的要是form样式，竖向排列
            items:[name]
          },{
            columnWidth:.5,
            layout:'form',
            items:[age]
          }],
          buttons:[okButton,cancelButton]
        });
        newUserForm.render('new_user_form');
      })
    </script>
  </head>
  <body>
    <div id="new_user_form"></div>
  </body>
</html>
